// -----------------------------------------------------------------------------
//
//      Config - Functions
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//
//      #1 Clearfix
//
// -----------------------------------------------------------------------------

// Based off of Nicolas Gallagher's article and solution found at:
// http://nicolasgallagher.com/micro-clearfix-hack/

clearfix()
  zoom: 1

  &::before
  &::after
    content: ""
    display: table

  &::after
    clear: both
