// -----------------------------------------------------------------------------
//
//      Config - Variables
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//
//      #1 Colors
//      #2 Font Stacks
//      #3 Spacing
//      #4 Breakpoints
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//
//      #1 Colors
//
// -----------------------------------------------------------------------------

// Brand - Blue colors -- From Darker to Lighter.
color-brand-main         = #54ABED
color-brand-dark-1       = darken(color-brand-main, 20%)
color-brand-light-1      = lighten(color-brand-main, 20%)
color-brand-light-2      = lighten(color-brand-main, 75%)

// Greyscale  -- From Darker to Lighter
color-greyscale-1        = #3F4044
color-greyscale-2        = #979797
color-greyscale-3        = #b6b6b6
color-greyscale-4        = #e8e9ec
color-greyscale-5        = #f2f2f2

// Colours
color-darkest            = color-greyscale-1
color-lightest           = #FFF

color-bg-light           = color-lightest
color-bg                 = color-greyscale-5
color-border             = color-greyscale-4

// Text Colors
color-text               = color-greyscale-1
color-text-secondary     = color-greyscale-2
color-text-tertiary      = lighten(color-greyscale-1, 25%)
color-text-light         = color-greyscale-3

// UI colors
color-warning            = #E65963             // Red
color-success            = #1D993B             // Green

// External colours
color-twitter            = #55ACEE
color-facebook           = #3B5998
color-tumblr             = #34465D

// -----------------------------------------------------------------------------
//
//      #2 Font Stacks
//
// -----------------------------------------------------------------------------

font-sans-safe           = Lucida Grande, sans-serif
font-serif-safe          = Georgia, serif
font-sans                = Open Sans, font-sans-safe
font-serif               = Merriweather, font-serif-safe

// -----------------------------------------------------------------------------
//
//      #3 Spacing
//
// -----------------------------------------------------------------------------

gutter-v = 2rem
gutter-h = 2rem

// -----------------------------------------------------------------------------
//
//      #4 Breakpoints
//
// -----------------------------------------------------------------------------

breakpoints = {
  xs: 320px,
  sm: 480px,
  md: 760px,
  lg: 1020px,
  xl: 1280px
}
