/* -----------------------------------------------------------------------------

  Elements - Root

----------------------------------------------------------------------------- */

html
  font-size: 10px

body
  color: color-greyscale-2
  font-family: font-sans
  font-size: 16px
