/* -----------------------------------------------------------------------------

  Elements - Text

----------------------------------------------------------------------------- */

a
  color: color-brand-main

a:active,
a:hover,
a:focus
  color: color-brand-dark-1

p
  /**/

strong,
b
  font-weight: 700

em,
i
  font-style: italic
