/* -----------------------------------------------------------------------------

  Objects - Header

----------------------------------------------------------------------------- */

.Header
  padding: gutter-v 0
  text-align: center
  border-bottom: solid 1px color-greyscale-5
