/* -----------------------------------------------------------------------------

  Objects - Main

----------------------------------------------------------------------------- */

.Main
  padding: gutter-v 0
